<% page_header "Edit Event", @event.name %>
<%= page_image "site_images/overview_image.jpg" %>

<div class="padded">
  <%= render :partial => 'form' %>
</div>

<% content_for :sidebar do %>
  <p id="show_me_your_id_p_0" class="classy_p"></p>
<% end -%>

<% admin_nav do %>
  <p id="show_me_your_id_p_1" class="classy_p"><%= link_to "Show event", @event %></p>
  <p id="show_me_your_id_p_2" class="classy_p"><%= link_to "Back to list", events_path %></p>
<% end -%>
