<% page_header "New Event/Tradeshow" %>
<%= page_image "site_images/overview_image.jpg" %>
<h2 class="classy_h2">This is a H2 header</h2>
<div class="classy_div">
  <%= render :partial => 'form' %>
</div>

<% admin_nav do %>
  <p id="show_me_your_id_p" class="classy_p"><%= link_to "Back to List", events_path %></p>
<% end -%>
